/*Recuerden que tanto las clases como los id deben terminar con sus iniciales, de esta manera evitamos algun tipo de conflicto
    Santiago Martinez:  class_sm
    Remo Benedetto:     class_rm
    Angel Schulze:      class_as
    Adolfo Schmid:      class_js
*/

/*Fuentes
    Todas las fuentes estan importadas en su totalidad
*/
    /*Monserrat
        Para visualizar todos los estilos de la fuente ingresar a url: https://fonts.google.com/specimen/Montserrat

        font-family: 'Montserrat', sans-serif;
    */
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        
    /*Bitter
        Para visualizar todos los estilos de la fuente ingresar a url: https://fonts.google.com/specimen/Bitter

        font-family: 'Bitter', serif;
    */
        @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

     /*Roboto
        Para visualizar todos los estilos de la fuente ingresar a url: https://fonts.google.com/specimen/Roboto

        font-family: 'Roboto', sans-serif;
    */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    
/*Colores*/
    :root{
            --blanco: #ffffff;
            --negro: #000000;

        /*Primera paleta url: https://www.colorhunt.co/palette/4a3933f0a500e45826e6d5b8*/
            --brown1: #4A3933;
            --yellow1: #F0A500;
            --orange1: #E45826;
            --beige1: #E6D5B8;

        /*Segunda paleta url: https://www.colorhunt.co/palette/fff5e4ffe3e1ffd1d1ff9494*/   
            --beige2:#FFF5E4;
            --lightpink2:#FFE3E1;
            --pink2:#FFD1D1;
            --hotpink2:#FF9494;

        /*Tercera paleta url: https://www.colorhunt.co/palette/0a043c03506fbbbbbbffe3d8*/
            --darkblue3: #0A043C;
            --hotblue3: #03506F;
            --grey3: #BBBBBB;
            --lightpink3: #FFE3D8;
    }


/*Start login*/

    .conteiner_login_sm{
        display: flex;
        width: 100%;
        height: 90vh;
        background-image: url(./image/authentication_background.jpg);
        background-position: center;
        background-size: cover;
        align-items: center;
        justify-content:center ;
    }

    .conteiner_form_login_sm{
        background-color: var(--blanco);
        border-radius: 4%;
        width: 25%;
        height: auto;
        transition: 1s all;
    }

    .conteiner_form_login_sm img{
        display: block;
        margin: auto;
        margin-top: 1rem;
        height: 5rem;
        width: 5rem;
    }


    .conteiner_form_login_sm h3{
        margin: 1rem;
        text-align: center;
        font-family: 'Bitter', serif;
        font-weight: 500;
        font-size: 2.5rem;
        color: #151f28;
    }

    .conteiner_form_login_sm label
    {
        color: var(--);
        display: block;
        margin: auto;
        margin: 2rem auto 0rem auto;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;

    }

    .conteiner_form_login_sm input
    {
        display: block;
        margin-top: 0;
        margin: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
    }

    .conteiner_form_login_sm input:focus
    {
        border: solid var(--yellow1);
        outline:none;
    }

    .conteiner_form_login_sm button
    {
        display: block;
        color: var(--blanco);
        padding: 1rem;
        background-color: var(--yellow1);
        margin: auto;
        margin-top: 2rem;   
        margin-bottom: 2rem;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        border: transparent;
        border-radius: 5%;
    }

    .conteiner_form_login_sm button:hover
    {
        display: block;
        color: var(--blanco);
        padding: 1rem;
        background-color: var(--yellow1);
        margin: auto;
        margin-top: 2rem;   
        margin-bottom: 2rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        border: transparent;
        border-radius: 5%;
    }

    .conteiner_form_login_sm p
    {
        font-family: 'Bitter', serif;
        color: var(--grey3);
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 0.8rem;
    }

    .conteiner_form_login_sm a
    {
        text-decoration: none;
    }

    .conteiner_form_login_sm p:hover
    {
        color: #000000;
    }

    .header{
        width: 100%;
        height: 10vh;
    }
    
/*End login*/   

/*Start register*/
    .conteiner_form_register_sm{
        display: none;
        background-color: var(--blanco);
        border-radius: 4%;
        width: 25%;
        height: auto;
        transition: 1s all;
    }

    .conteiner_form_register_sm img{
        display: block;
        margin: auto;
        margin-top: 1rem;
        height: 5rem;
        width: 5rem;
    }


    .conteiner_form_register_sm h3{
        margin: 1rem;
        text-align: center;
        font-family: 'Bitter', serif;
        font-weight: 500;
        font-size: 2.5rem;
        color: #151f28;
    }

    .conteiner_form_register_sm label
    {
        color: var(--);
        display: block;
        margin: auto;
        margin: 2rem auto 0rem auto;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;

    }

    .conteiner_form_register_sm input
    {
        display: block;
        margin-top: 0;
        margin: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
    }

    .conteiner_form_register_sm input:focus
    {
        border: solid var(--yellow1);
        outline:none;
    }

    .conteiner_form_register_sm button
    {
        display: block;
        color: var(--blanco);
        padding: 1rem;
        background-color: var(--yellow1);
        margin: auto;
        margin-top: 2rem;   
        margin-bottom: 2rem;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        border: transparent;
        border-radius: 5%;
    }

    .conteiner_form_register_sm button:hover
    {
        display: block;
        color: var(--blanco);
        padding: 1rem;
        background-color: var(--yellow1);
        margin: auto;
        margin-top: 2rem;   
        margin-bottom: 2rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        border: transparent;
        border-radius: 5%;
    }

    .conteiner_form_register_sm p
    {
        font-family: 'Bitter', serif;
        color: var(--grey3);
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 0.8rem;
    }

    .conteiner_form_register_sm a
    {
        text-decoration: none;
    }

    .conteiner_form_register_sm p:hover
    {
        color: #000000;
    }
/*End register*/